body {
  background-color: #dddddd;
}

table.header {
	width: 100%;
	background-color: #003399;
}

tr.header {
	height: 40px;
}

td.header {
	text-align: center;
	vertical-align: center;
	font-family: helvetica;
	font-size: 12px;
	font-variant: small-caps;
	color: #ffffff;
}

td.header:hover {
	background-color: #0077dd;
}

a.table
{
    display:block;
    text-decoration:none;
}
