body {
	background-color: #dddddd;
}

table {
	width: 100%;
	background-color: #003399;
}

tr {
	height: 40px;
}

td {
	width: 33%;
	overflow: hidden;
	vertical-align: center;
}

td a {
	display: block;
	margin: -10em;
	padding: 10em;
	text-align: center;
	font-family: helvetica;
	color: #ffffff;
}

td a:hover {
	background-color: #0077dd;
}
