body {
  background-color: #dddddd;
}

table.header {
	width: 100%;
	background-color: #003399;
}

tr.header {
	height: 40px;
}

td.header {
	text-align: center;
	vertical-align: center;
	font-family: helvetica;
	font-size: 12px;
	font-variant: small-caps;
	color: #ffffff;
	position: relative;

	a {
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}

}

td.header:hover {
	background-color: #0077dd;
}
